@model IEnumerable<EmployeeMVC.Models.Employee>   

@{    
        ViewData["Title"] = "index";    
    }    
<h2>Employee Details</h2>    
<p>    
    <a asp-action="CreateEmployee">Create New Account</a>    
</p>    
<table class="table">    
    <thead>    
        <tr>    
            <th>    
                @Html.DisplayNameFor(model => model.Name)    
            </th>    
            <th>    
                @Html.DisplayNameFor(model => model.Gender)    
            </th>    
            <th>    
                @Html.DisplayNameFor(model => model.Department)    
            </th>    
            <th>    
                @Html.DisplayNameFor(model => model.City)    
            </th> 
            <th>    
                @Html.DisplayNameFor(model => model.Country)    
            </th>    
            <th></th>    
        </tr>    
    </thead>    
    <tbody>  
        
        @foreach (var item in Model)    
{    
            <tr>    
                <td>    
                    @Html.DisplayFor(modelItem => item.Name)    
                </td>    
                <td>    
                    @Html.DisplayFor(modelItem => item.Gender)    
                </td>    
                <td>    
                    @Html.DisplayFor(modelItem => item.Department)    
                </td>    
                <td>    
                    @Html.DisplayFor(modelItem => item.City)    
                </td> 
                <td>    
                    @Html.DisplayFor(modelItem => item.Country)    
                </td>    
                <td>    
                    <a asp-action="EditEmployee" asp-route-id="@item.ID">Edit</a> |    
                    <a asp-action="DetailsEmployee" asp-route-id="@item.ID">Details</a> |    
                    <a asp-action="DeleteEmployee" asp-route-id="@item.ID">Delete</a>    
                </td>    
            </tr>    
        }    
    </tbody>    
</table> 